*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(246, 239, 239);
    margin-left: 8%;
}
nav{
    display:  flex;
    margin-top: 10px;
    margin-left: 10px;
}
.logo img{
    height: 50px;
}

.navoption{
    margin-top: 16px;
    /* position: relative; */
    margin-left: 40%;
    gap: 30px;
}
.navoption a{
    text-decoration: none;
    margin-left: 40px;
    font-weight: 600;

}
.main{
    background-image: url(../images/stethoscope.png);
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: 20%  ;
    background-position: top(10%);
    display: flex;
}
.mainleft{
    width: 30vw;
    margin-top: 10%;
}
.mainleft h2{
    font-size: 50px;
    
}
.desc{
    font-size: 13px;
    padding-top:10px ;
}
.btn-appoint{
    padding: 10px;
    text-align: center;
    background-color:rgb(91, 171, 167);
    border-radius: 20px;
    font-weight: bolder;
    margin-top: 10px;
}
.mainright img{
    height: 600px;
    position: relative;
    margin-left: 110%;
    background-image: url(../images/greenBox.png),url(../images/yellowBox.png);
    background-size: 350px;
    background-repeat: no-repeat;
    background-position: center,bottom right ;
    background-position: top(40%);
    
}